* {
    margin: 0 auto;
}
.jumbotron {
    border-radius: 2px;
    background-image: url('../image/ultraman.jpg');
    color: white;
    padding: 30px;
    text-align: center;
}
header {
    display: inline;
}
nav {
    position:sticky;
    top: 0;
    border-radius: 2px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}
nav li {
    display: inline;
}
nav li a {
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    padding: 5px;
}
a:hover {
    font-weight: bold;
}
#content {
    position: relative;
    float: left;
    width: 75%;
}
main {
    margin: 20px;
    overflow: auto;
}
.card {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 4px 4px blue;
    margin: 20px;
    overflow: auto;
}
.card2 {
    display: flex;
}
aside {
    position: relative;
    float: right;
    width: 25%;
}
aside p {
    text-align: center;
}
figure {
    text-align: center;
}
footer {
    border-radius: 5px;
    background-color: blue;
    padding: 3px;
    text-align: center;
    color: white;
}
.feature-image {
    float: left;
    width: 30%;
    max-height: 200px;
    object-fit: cover;
    margin: 10px;
}